{% extends "base.html" %}

{% block title %}Báo cáo{% endblock %}

{% block content %}
<div class="d-flex" id="wrapper">
    {% include 'sidebar.html' %}
    <div id="page-content-wrapper" style="width: 85%;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light py-4 px-4">
            <h2 class="fs-2 m-0">Báo cáo</h2>
        </nav>

        <div class="container-fluid px-4 mt-4">
            <h3 class="mb-4">Tổng hợp kết quả huấn luyện</h3>
            <div class="row">
                <div class="col-12">
                    <table class="table table-striped table-hover">
                        <thead class="bg-dark text-white">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Ngày</th>
                                <th scope="col">Đối tượng</th>
                                <th scope="col">Điểm số</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>12/08/2025</td>
                                <td>Bia số 4</td>
                                <td>9.5</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>11/08/2025</td>
                                <td>Bia số 4</td>
                                <td>8.0</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>11/08/2025</td>
                                <td>Bia số 4</td>
                                <td>9.0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}